.body {
    display: flex;
    flex-direction: column;
    align-items: center;

    .loader {
        display: block;
    }

    .title {
        margin-top: 40px;
        text-align: center;
    }

    .text {
        margin-top: 24px;
        color: #373737;
        text-align: center;
        white-space: break-spaces;
    }
}
