.cameraFreed {
    width: 1439px;
    height: 959px;
    overflow: hidden;
    border-radius: 40px;

    video {
        width: 120%;
        height: 120%;
        object-fit: fill;
        object-position: -138px -95px;
    }
}
