.modalBody {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 808px;

    .title {
        font-size: 48px;
        margin: 40px 0 24px 0;
        color: #0072ac;
        text-align: center;
        white-space: break-spaces;
    }

    .text {
        margin-bottom: 40px;
        color: #373737;
        text-align: center;
        white-space: break-spaces;
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        padding: 0 34.5px;

        button {
            width: 357px;
        }
    }
}
